<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Curriculo</title>

    <style>
        body {
            background-color: rgba(0, 255, 220, 0.35);
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
    </style>
</head>
<body>
    <div class="header">
        <h1>Mihaell Alves</h1>
        <h4>
            <ul> São Paulo/SP</ul>
            <ul>(41) 99846-2792</ul>
            <ul>mihaell.klosowski@gmail.com</ul>  
        </h4>
    </div>
    <div class="content">
        <h2>
            Resumo
        </h2>
        <p>
            Sou um estudante do 2° ano de Engenharia de Computação no Instituto de Tecnologia e Liderança, com experiência em trabalho em equipe e metodologias ágeis. [Em Construção]
        </p>
        <h2>
            Experiencia
        </h2>
        <ul>
            <li>Summer Job em BI - Cia de Talentos</li>
        </ul>
        <h2>
            Habilidades
        </h2>
        <ul>
            <li>Python</li>
            <li>React</li>
            <li>Game Design</li>            
        </ul>
    </div>
    <footer>
        2023
    </footer>
</body>
</html>